<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- <handlers>
            <add name="Node.js" path="*.js" verb="*" modules="iisnode" scriptProcessor="C:\Program Files\nodejs\node.exe" resourceType="File" />
      <add name="iisnode" path="http://localhost:5500" verb="*" modules="iisnode" />
    </handlers> -->
    <rewrite>
      <rules>
        <rule name="nodejs">
          <match url="/*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
        <defaultDocument>
            <files>
                <add value="index.js" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>